body {
    margin: 0;
    
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 10px;
    gap: 370px;
    margin-left: 12px;
    flex-wrap: wrap;
  }

.block-top {
    background:#1f2937;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

button.aboutme {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 100px;
  }

.logo {
    width: 100px;
    height: 50px;
    background: #f9faf8;
  }

.ul1 {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0px;
    padding: 0px; 
  }

.a1 {
    font-size: 20px;
    padding: 8px ;
    text-decoration: none;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #f9faf8;

  }

.block {
    display: flex;
    margin: 0 100px;
    padding-top: 130px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 100px;
  }

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: 0;
  }

.under-title {
    width: 480px;
    display: flex;
    margin: 0;
    color: #f9faf8;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.landing-img {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 50px;
  }
  
.block-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 480px;
}

.block-right {
    display: flex;
    }

/* ---------- CREATING MEMORIES SECTION ---------- */


.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;  
}
  
.title2 {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 90px;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.text {
    padding-top: 15px;
  }

.card {
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

.card:hover {
    transform: scale(1.02);
}


.img2 {
    width: 100px;
    height: 100px;
    background: royalblue; 
  }

/* ---------- REVIEW SECTION ---------- */

.container-reviews {
    width: 100%;
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #090921;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}


@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

/* MODAL - CALL TO ACTION */
  
.container-modal {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal {
    background: white;
    width: 700px;
    height: 8vh;
    border-radius: 35px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 40px;
    
}
  
button.getintouch {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 115px;
  }

.modal-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    margin-left: 20px;
    gap: 10px;
}

.modal-right {
    padding-right: 90px;
}

.title-modal {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-modal {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
/* FOOTER */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: #f9faf8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
