/* WEBSITE (BRAND) COLOR PALETTE 
.color1 { #cbe4ea };
.color2 { #ead1cb };
.color3 { #af9c98 };
.color4 { #657275 };
.color5 { #000000 };
*/ 

body {
    margin: 0;
    
}

.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 10px;
    gap: 360px;
    flex-wrap: wrap;
  }

.right-links {
    display: flex;
    }

.block-top {
    background:#657275;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

button.aboutme {
    background: #ead1cb;
    border: 1px solid #ead1cb;
    color: #657275;
    padding: 7px 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 100px;
    font-weight: 750;
    cursor: pointer;
  }

  .aboutme:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 5px 0px #af9c98;
}

.logo {
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px; 
    display: flex; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.ul1 {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0px;
    padding: 0px;
  }

.a1 {
    font-size: 20px;
    padding: 8px ;
    text-decoration: none;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: #ffffff;

  }

.block {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 52px 50px 0px 50px;
 }

.title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: 0;
  }

.under-title {
    width: 480px;
    display: flex;
    margin: 0;
    color: #ffffff;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* img.landing-img {
    width: 300px;
    height: 450px;
    padding: 50px;
    border-radius: 70px; 
    float: left;
    transform: rotate(7deg);
} */

img.landing-img {
    width: 284px;
    padding: 5px 5px 10px 5px;
    border: 1px solid #BFBFBF;
    background-color: #ffffff;
    box-shadow: 7px 7px 3px #aaaaaa;
    float: left;
    transform: rotate(7deg);
  }

.block-left {
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 20px;
width: 480px;
}

.block-right {
    display: flex;
    margin-top: 40px;
    }





/* ---------- CREATING MEMORIES SECTION ---------- */


.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55vh;  
    background-color: #ead1cb;
}
  
.title2 {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 80px;
    color: #657275;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    color: #657275;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.text {
    padding-top: 15px;
  }

.card {
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }

.card:hover {
    transform: scale(1.1);
}


.img2 {
    width: 80%;
    height: 220px;
    border-radius: 20px;
}

/* ---------- REVIEW SECTION ---------- */

.container-reviews {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color:#657275;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
    display: flex;
    justify-content: left;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    height: 80%;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #000000;
    border: 1px solid #000000;
    transition: all .2s linear;
}

.review {
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.date {
    font-weight: 600;
}

.reviewItem:hover {
    border-color: #657275;
    transform: scale(1.1);
    background-color: #657275;
    box-shadow: 0 0px 5px 0px #af9c98;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}


@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

/* MODAL - CALL TO ACTION */
  
.container-modal {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ead1cb;
}

.modal {
    background: #ffffff;
    width: 800px;
    height: 10vh;
    border-radius: 50px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    
}
  
button.getintouch {
    background: #1f2937;
    border: 1px solid #1f2937;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 115px;
    cursor: pointer;
  }

.getintouch:hover {
    border-color: #657275;
    transform: scale(1.05);
    background-color: #657275;
    box-shadow: 0 0px 5px 0px #af9c98;
}

.modal-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    margin-left: 20px;
    gap: 10px;;
}

.modal-right {
    padding-right: 90px;
}

.title-modal {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
    font-family: 'Source Sans pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-modal {
    font-size: 14px;
    color: #1f2937;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
/* FOOTER */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #657275;
    color: #f9faf8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
